<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href='website/master.css' />
        <link rel="stylesheet" href='../master.css' />
        <link rel="stylesheet" href='../website/master.css' />
    </head>
    <body>
        <h1>Muscle Checker</h1>
        <div id="main_content">
            <div>
                <h2>Input text</h2>
                <form action="{{ url_for('index')}}" method="post">
                    <textarea id="text_input" name="text_input" rows="4" cols="50">Insert your calendar text here.</textarea>
                    <button id="text_submit" type="submit">Submit</button>
                </form>
            </div>
            <div>
                <h2>Results</h2>
                <p>Hit Muscle Groups:
                    {% for group in results_dict["hit_muscle_groups"] %}
                        {{group}}
                    {% endfor %}
                </p>
                <p>Missed Muscle Groups:
                    {% for group in results_dict["missed_muscle_groups"] %}
                        {{group}}
                    {% endfor %}
                </p>
                <p>Hit Muscles:
                    {% for muscle in results_dict["hit_muscles"] %}
                        {{muscle}}
                    {% endfor %}
                </p>

                {% for suggestion in results_dict["suggestions"] %}
                    <p>{{suggestion}}</p>
                {% endfor %}
            </div>#
            <p> {{forward_message}}</p>
        </div>
    </body>
</html>
